<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Quan lý danh bạ</title>
    <link href="\static\vendor\fontawesome-free\css\all.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="\static\css\sb-admin-2.css" rel="stylesheet">
    <script type="text/JavaScript" src="\static\js\validate.js"></script>
</head>
<body id="page-top">
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Danh bạ </div>
        </a>
        <hr class="sidebar-divider my-0">
        <div class="sidebar-heading">

            <th:block th:utext="${username}">

            </th:block>

        </div>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Quản lí danh bạ</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="/logout" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Đăng xuất</span>
            </a>
        </li>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="form-group">
                        <form th:action="@{/}">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm số điện thoai..."
                                   name="phone" id="phone"  th:value="${phone}" required
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append" style="margin-left:10px">
                                <input class="btn btn-primary" type="submit" value="Tìm">

                                </input>
                            </div>
                        </form>

                    </div>
                </form>




                <div class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small" th:utext="${username}"></span>
                        <img class="img-profile rounded-circle"
                             src="img/undraw_profile.svg">
                    </a>
                </div>
            </nav>
            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Quản lý danh bạ</h1>
                    <button type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#myModal">Thêm mới</button>
                </div>
                <div class="row" >
                    <div class="col-xl-3 col-md-6 mb-4" th:each="item : ${contacts}">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                             th:text="${item.name}"
                                        >
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                             th:text="${item.phoneNumber}"
                                        ></div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" style="margin-top: 10px">
                                            <a th:href="@{/delete?(id=${item.id})}" class="btn btn-light"><img src="\static\css\trash.svg" style="width:19px; height: 19px"/> </a>
                                            <a th:href="@{/edit?(id=${item.id})}" class="btn btn-light"><img src="\static\css\icons8-edit-48.png" style="width:19px; height: 19px"/> </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination"
                     th:each="pagenumber : ${pagenumber}" >
                    <li style="margin-right: 20px">
                        <a th:href="@{/(page=${pagenumber-1},size=10)}"
                           th:class="${pagenumber-1<0} ? 'btn btn-primary disabled':'btn btn-primary'">
                            Trang sau
                        </a>
                    </li>
                    <li style="margin-right: 20px; padding-top: 5px;">
                        <th:block th:utext="${pagenumber+1}"></th:block>
                    </li>
                    <li th:each="totalpage : ${totalpage}">
                        <a th:href="@{/(page=${pagenumber+1},size=10)}"

                           th:class="${pagenumber+1==totalpage} ? 'btn btn-primary disabled':'btn btn-primary'"
                        >
                            Trang trước
                        </a>
                    </li>

                </div>
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Trần Trọng Nghĩa</span><br>
                            <br>
                            <span>Lê Minh Hậu</span><br>
                            <br>
                            <span>Võ Thanh Nhàn</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form th:object="${contact}" th:action="@{save}" action="#" method="post">
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm mới danh bạ</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="p1">Số điện thoại</label>
                                <input type="text" th:field="*{phoneNumber}"  placeholder="Số điện thoại" class="form-control" id="sdt" onblur="return kiemtrasdt();"><span style="color:red" id="messloisdt"></span>
                            </div>
                            <div class="form-group">
                                <label class="p1">Tên</label>
                                <input type="text" th:field="*{name}" placeholder="Họ và tên" class="form-control" id="name" onblur="return kiemtraten();"><span style="color:red" id="messloiname"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" onclick="return them();" class="btn btn-primary btn-lg btn-block" value="Thêm mới"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        <script src="\static\vendor\jquery\jquery.min.js"></script>
        <script src="\static\vendor\bootstrap\js\bootstrap.bundle.js"></script>
        <script src="\static\vendor\jquery-easing\jquery.easing.min.js"></script>
        <script src="\static\js\sb-admin-2.js"></script>
</body>
</html>